.forLivreDor{

    border: 1px solid black;
    width: 100%;
    padding: 20px;


}
.inpLivreDor{
    width: 60%;
    float: right;
}
.textaLivreDor{

    width: 100%;
    height: 150px;
}
.bouton{

   margin-left: 70%;
}
.test{
    margin-right: 50px;
    border: 1px solid black;

    word-wrap : break-word;
}
.formInscr{

    margin-top: 10%;

}

.inpInscrip{
    width: 50%;

}
.labelInscrip{

    width: 40%;
}
hr{

    border: 2px solid blue;
}